---
import { getLangFromUrl, getLocalizedPath, getUi } from "@/i18n/utils"
import { getBlogPosts } from "@/lib/blog-posts"
import { Image } from "astro:assets"

const lang = getLangFromUrl(Astro.url)
const { blog } = getUi(lang)
const blogPosts = getBlogPosts(lang)
---

<section class="mx-auto max-w-7xl px-6 py-10 sm:px-8 lg:px-0 lg:py-14">
  <header class="mb-10 flex items-center justify-between gap-6">
    <h1 class="text-4xl sm:text-5xl">{blog.title}</h1>
  </header>

  <div class="grid gap-x-2 gap-y-6 sm:grid-cols-2 lg:grid-cols-3">
    {
      blogPosts.map((post, index) => (
        <a
          href={getLocalizedPath(`/blog/${post.slug}`, lang)}
          class="group block"
          aria-label={`${blog.openPost}: ${post.title}`}
        >
          <Image
            src={post.image}
            alt={post.title}
            class="aspect-square w-full object-cover transition duration-150 group-hover:brightness-85"
            width={512}
            height={512}
            widths={[320, 512, 768, 1024]}
            sizes="(min-width: 1024px) 33vw, (min-width: 640px) 50vw, 100vw"
            format="webp"
            quality={72}
            priority={index === 0}
          />

          <p class="mt-2 text-sm font-light">{post.date}</p>

          <h2 class="mt-2 text-lg font-normal transition group-hover:text-slate-700">
            {post.title}
          </h2>
        </a>
      ))
    }
  </div>
</section>
